#laravel
composer.lock
config/mail.php
storage/logs/
storage/framework/sessions/
storage/framework/views/
storage/framework/cache/
bootstrap/compiled.php
.env.*.php
.env.php
.env
public/*.png
public/VirtualVouchers/
public/images/
public/voucher/images/
public/voucher/images/default/
public/voucher/qrcodepng/
